@model MVCtrab.ViewModels.CostumerIndexData
@{
    ViewBag.Title = "Cliente";
}

@*<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Costumers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
    </dl>
</div>*@

@if (Model.Costumers != null)
{
    if (Model.Costumers.Count() == 1)
    {
        <h4>Dados do Cliente</h4>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Ramo</th>
            <th>Proprietário</th>
            <th></th>
        </tr>
            @foreach (var c in Model.Costumers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => c.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.Branch)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.Owner)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Costumer", new { id = c.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", "Costumer", new { id = c.Id }, null)
                    </td>
                </tr>
            }
    </table>
    }
@*@Html.ActionLink("Novo Cliente", "Create", "Custumer")*@

}