@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MVCtrab.Models.Phones

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Você tem certeza que quer excluir esse item?</h3>
<div>
    <h4>Telefone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCostumer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCostumer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a listagem", "Index")
        </div>
    }
</div>